<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Spark UI</title>
        <link rel="stylesheet" href="/main.css" />
        <link rel="stylesheet" href="/Components/Card/card.css" />
    </head>
    <body>
        <div class="cards-container">
            <div class="website-card-vertical-container">
                <div class="card card-vertical">
                    <div class="card-body">
                        <div class="card-image-header-container">
                            <img
                                src="/Images/demo-image.tpng"
                                alt="Tokyo Olympics"
                                class="card-image"
                            />
                            <header>
                                <h1 class="card-heading">
                                    Tokyo Olympics 2020
                                </h1>
                                <p class="card-subheading">by Mohit Dhatrak</p>
                            </header>
                        </div>
                        <p class="card-text">
                            The Tokyo 2020 Games were an unprecedented
                            demonstration of unity and solidarity as the world
                            came together for the first time following the onset
                            of the COVID-19, for an Olympic Games focused on the
                            pure essentials: a celebration of athletes and
                            sport.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="card-buttons-container">
                            <button class="card-button">READ</button>
                            <button class="card-button">BOOKMARK</button>
                        </div>
                        <div class="card-images-container">
                            <button class="card-button">
                                <img
                                    src="https://api.iconify.design/mdi:heart-outline.svg"
                                    alt="Like Button"
                                    class="card-svg-icons"
                                />
                            </button>
                            <button class="card-button">
                                <img
                                    src="https://api.iconify.design/mdi:share-variant.svg"
                                    alt=""
                                    class="card-svg-icons"
                                />
                            </button>
                            <button class="card-button">
                                <img
                                    src="https://api.iconify.design/ic:twotone-more-vert.svg"
                                    alt=""
                                    class="card-svg-icons"
                                />
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="website-card-vertical-container">
                <div class="card card-vertical card-header-top">
                    <div class="card-body">
                        <div class="card-image-header-container">
                            <img
                                src="/Images/demo-image.png"
                                alt="Tokyo Olympics"
                                class="card-image"
                            />
                            <header>
                                <h1 class="card-heading">
                                    Tokyo Olympics 2020
                                </h1>
                                <p class="card-subheading">by Mohit Dhatrak</p>
                            </header>
                        </div>
                        <p class="card-text">
                            The Tokyo 2020 Games were an unprecedented
                            demonstration of unity and solidarity as the world
                            came together for the first time following the onset
                            of the COVID-19, for an Olympic Games focused on the
                            pure essentials: a celebration of athletes and
                            sport.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="card-buttons-container">
                            <button class="card-button">READ</button>
                            <button class="card-button">BOOKMARK</button>
                        </div>
                        <div class="card-images-container">
                            <button class="card-button">
                                <img
                                    src="https://api.iconify.design/mdi:heart-outline.svg"
                                    alt="Like Button"
                                    class="card-svg-icons"
                                />
                            </button>
                            <button class="card-button">
                                <img
                                    src="https://api.iconify.design/mdi:share-variant.svg"
                                    alt=""
                                    class="card-svg-icons"
                                />
                            </button>
                            <button class="card-button">
                                <img
                                    src="https://api.iconify.design/ic:twotone-more-vert.svg"
                                    alt=""
                                    class="card-svg-icons"
                                />
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="website-card-vertical-container">
                <div class="card card-vertical card-no-primary-btns">
                    <div class="card-body">
                        <div class="card-image-header-container">
                            <img
                                src="/Images/demo-image.png"
                                alt="Tokyo Olympics"
                                class="card-image"
                            />
                            <header>
                                <h1 class="card-heading">
                                    Tokyo Olympics 2020
                                </h1>
                                <p class="card-subheading">by Mohit Dhatrak</p>
                            </header>
                        </div>
                        <p class="card-text">
                            The Tokyo 2020 Games were an unprecedented
                            demonstration of unity and solidarity as the world
                            came together for the first time following the onset
                            of the COVID-19, for an Olympic Games focused on the
                            pure essentials: a celebration of athletes and
                            sport.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="card-buttons-container">
                            <button class="card-button">READ</button>
                            <button class="card-button">BOOKMARK</button>
                        </div>
                        <div class="card-images-container">
                            <button class="card-button">
                                <img
                                    src="https://api.iconify.design/mdi:heart-outline.svg"
                                    alt="Like Button"
                                    class="card-svg-icons"
                                />
                            </button>
                            <button class="card-button">
                                <img
                                    src="https://api.iconify.design/mdi:share-variant.svg"
                                    alt=""
                                    class="card-svg-icons"
                                />
                            </button>
                            <button class="card-button">
                                <img
                                    src="https://api.iconify.design/ic:twotone-more-vert.svg"
                                    alt=""
                                    class="card-svg-icons"
                                />
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="website-card-vertical-container">
                <div class="card card-vertical card-no-secondary-btns">
                    <div class="card-body">
                        <div class="card-image-header-container">
                            <img
                                src="/Images/demo-image.png"
                                alt="Tokyo Olympics"
                                class="card-image"
                            />
                            <header>
                                <h1 class="card-heading">
                                    Tokyo Olympics 2020
                                </h1>
                                <p class="card-subheading">by Mohit Dhatrak</p>
                            </header>
                        </div>
                        <p class="card-text">
                            The Tokyo 2020 Games were an unprecedented
                            demonstration of unity and solidarity as the world
                            came together for the first time following the onset
                            of the COVID-19, for an Olympic Games focused on the
                            pure essentials: a celebration of athletes and
                            sport.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="card-buttons-container">
                            <button class="card-button">READ</button>
                            <button class="card-button">BOOKMARK</button>
                        </div>
                        <div class="card-images-container">
                            <button class="card-button">
                                <img
                                    src="https://api.iconify.design/mdi:heart-outline.svg"
                                    alt="Like Button"
                                    class="card-svg-icons"
                                />
                            </button>
                            <button class="card-button">
                                <img
                                    src="https://api.iconify.design/mdi:share-variant.svg"
                                    alt=""
                                    class="card-svg-icons"
                                />
                            </button>
                            <button class="card-button">
                                <img
                                    src="https://api.iconify.design/ic:twotone-more-vert.svg"
                                    alt=""
                                    class="card-svg-icons"
                                />
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="website-card-vertical-container">
                <div class="card card-vertical card-header-on-image">
                    <div class="card-body">
                        <div class="card-image-header-container">
                            <img
                                src="/Images/demo-image.png"
                                alt="Tokyo Olympics"
                                class="card-image"
                            />
                            <header>
                                <h1 class="card-heading">
                                    Tokyo Olympics 2020
                                </h1>
                                <p class="card-subheading">by Mohit Dhatrak</p>
                            </header>
                        </div>
                        <p class="card-text">
                            The Tokyo 2020 Games were an unprecedented
                            demonstration of unity and solidarity as the world
                            came together for the first time following the onset
                            of the COVID-19, for an Olympic Games focused on the
                            pure essentials: a celebration of athletes and
                            sport.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="card-buttons-container">
                            <button class="card-button">READ</button>
                            <button class="card-button">BOOKMARK</button>
                        </div>
                        <div class="card-images-container">
                            <button class="card-button">
                                <img
                                    src="https://api.iconify.design/mdi:heart-outline.svg"
                                    alt="Like Button"
                                    class="card-svg-icons"
                                />
                            </button>
                            <button class="card-button">
                                <img
                                    src="https://api.iconify.design/mdi:share-variant.svg"
                                    alt=""
                                    class="card-svg-icons"
                                />
                            </button>
                            <button class="card-button">
                                <img
                                    src="https://api.iconify.design/ic:twotone-more-vert.svg"
                                    alt=""
                                    class="card-svg-icons"
                                />
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="website-card-horizontal-container">
                <div class="card card-horizontal">
                    <div class="card-body">
                        <div class="card-image-header-container">
                            <img
                                src="/Images/demo-image.png"
                                alt="Tokyo Olympics"
                                class="card-image"
                            />
                            <header>
                                <h1 class="card-heading">
                                    Tokyo Olympics 2020
                                </h1>
                                <p class="card-subheading">by Mohit Dhatrak</p>
                            </header>
                        </div>
                        <p class="card-text">
                            The Tokyo 2020 Games were an unprecedented
                            demonstration of unity and solidarity as the world
                            came together for the first time following the onset
                            of the COVID-19, for an Olympic Games focused on the
                            pure essentials: a celebration of athletes and
                            sport.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="card-buttons-container">
                            <button class="card-button">READ</button>
                            <button class="card-button">BOOKMARK</button>
                        </div>
                        <div class="card-images-container">
                            <button class="card-button">
                                <img
                                    src="https://api.iconify.design/mdi:heart-outline.svg"
                                    alt="Like Button"
                                    class="card-svg-icons"
                                />
                            </button>
                            <button class="card-button">
                                <img
                                    src="https://api.iconify.design/mdi:share-variant.svg"
                                    alt=""
                                    class="card-svg-icons"
                                />
                            </button>
                            <button class="card-button">
                                <img
                                    src="https://api.iconify.design/ic:twotone-more-vert.svg"
                                    alt=""
                                    class="card-svg-icons"
                                />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
