* {
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    /* card CSS variables */
    --card-box-shadow: none;
    --card-hover-box-shadow: 0px 0px 20px 1px grey;
    --card-bg-color: transparent; /* bg stands for background */
    --card-border: 1px solid black;
    --card-border-radius: 1em;
    --card-image-border: 1px solid black;
    --card-image-border-radius: 0.5em;
    --card-image-text-overlay-color: white;
    --card-primary-button-color: black;
    --card-primary-button-bg-color: #bae6fd;
    --card-primary-button-border: none;
    --card-primary-button-border-radius: 0.6em;
    --card-button-hover-border-radius: none;
    --card-secondary-button-color: black; /* i.e. card icon buttons */
    --card-secondary-button-bg-color: none;
    --card-secondary-button-border: none;
    --card-secondary-button-border-radius: 0.6em;
    --card-button-hover-color: #7dd3fc;
    --card-icon-size: 1.4rem;
    --card-badge-bg-color: #bae6fd;
    --card-badge-border: 1px solid black;
    --card-badge-border-radius: 0.5em;
    --card-badge-color: black;
    /* focus color is seen when you use tab key to access buttons or links */
    --card-button-focus-outline-color: #3b82f6;
}

.card {
    width: 100%;
    background-color: var(--card-bg-color);
    border: var(--card-border);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);

    /* flex - properties */
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 0.75em;
}

.card:hover {
    box-shadow: var(--card-hover-box-shadow);
}

.card-body {
    display: flex;
    gap: 0.8em;
}

.card-vertical .card-body {
    flex-direction: column;
}

.card-horizontal .card-body {
    flex-direction: row;
    gap: 0;
}

.card-image-header-container {
    position: relative;
}

.card-header-top .card-image-header-container {
    display: flex;
    flex-direction: column;
}

.card-horizontal .card-image-header-container {
    display: flex;
}

.card-with-badge .card-image-header-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.card-with-dismiss .card-image-header-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.card-horizontal .card-header-container {
    margin: 0 auto;
    margin-top: 0.5rem;
}

.card-image {
    width: 100%;
    border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
}

.card-header-top .card-image {
    border-radius: 0;
}

.card-only-text .card-image {
    display: none;
}

.card-horizontal .card-image {
    width: 40%;
    object-fit: cover;
    border-radius: var(--card-border-radius) 0 0 0;
}

.card-header-top .card-header-container {
    margin-bottom: 0.7em;
    order: -1;
}

.card-text-overlay .card-header-container {
    position: absolute;
    bottom: 1em;
    color: var(--card-image-text-overlay-color);
}

.card-vertical .card-header-container {
    margin-top: 0.5em;
}

.card-with-badge .card-header-container {
    width: 90%;
    margin: 0 auto;
}

.card-with-dismiss .card-header-container {
    width: 90%;
    margin: 0 auto;
}

.card-heading {
    margin: 0;
    padding: 0 1rem;
    font-size: 1.5rem;
}

.card-horizontal .card-heading {
    font-size: 1.3rem;
}

.card-with-badge .card-heading {
    padding: 0;
}

.card-with-dismiss .card-heading {
    padding: 0;
}

.card-subheading {
    margin: 0;
    padding: 0 1.2rem;
}

.card-with-badge .card-subheading {
    padding: 0;
}

.card-with-dismiss .card-subheading {
    padding: 0;
}

.card-text {
    margin: 0;
    padding: 0 1em;
    font-size: 1.1rem;
}

.card-horizontal .card-text {
    display: none;
}

.card-with-badge .card-text {
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

.card-with-dismiss .card-text {
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

.card-footer {
    padding: 0 1em;
    padding-bottom: 0.6em;
    padding-left: 1.2em;

    /* flex - properties */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.card-horizontal .card-footer {
    padding: 0 0.8em;
    padding-bottom: 0.8em;
}

.card-with-badge .card-footer {
    padding: 0;
}

.card-with-dismiss .card-footer {
    padding: 0;
}

.card-primary-buttons-container {
    display: flex;
    gap: 0.8em;
}

.card-only-icons .card-primary-buttons-container {
    visibility: hidden;
}

.card-with-badge .card-primary-buttons-container {
    width: 100%;
}

.card-with-dismiss .card-primary-buttons-container {
    width: 100%;
}

.card-button {
    font-size: 1.1rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0.4em;
    text-transform: uppercase;
    color: var(--card-primary-button-color);

    /* flex - properties */
    display: flex;
    align-items: center;
}

.card-primary-buttons-container .card-button {
    background-color: var(--card-primary-button-bg-color);
    border: var(--card-primary-button-border);
    border-radius: var(--card-primary-button-border-radius);
}

.card-secondary-buttons-container .card-button {
    background-color: var(--card-secondary-button-bg-color);
    border: var(--card-secondary-button-border);
    border-radius: var(--card-secondary-button-border-radius);
}

.card-secondary-buttons-container .card-button {
    padding: 0.3em;
}

.card-button:hover {
    background-color: var(--card-button-hover-color);
}

.card-button:focus {
    outline: var(--card-button-focus-outline-color) solid 2px;
}

.card-with-badge .card-image-header-container .card-button {
    border: var();
    border-radius: var(--card-secondary-button-border-radius);
    position: absolute;
    top: 0.8em;
    right: 0.8em;
}

.card-with-dismiss .card-image-header-container .card-button {
    border: var();
    border-radius: var(--card-secondary-button-border-radius);
    position: absolute;
    top: 0.8em;
    right: 0.8em;
}

.card-with-badge .card-footer .card-button {
    width: 90%;
    display: inline;
    margin: 0 auto;
    margin-bottom: 1em;
}

.card-with-dismiss .card-footer .card-button {
    width: 90%;
    display: inline;
    margin: 0 auto;
    margin-bottom: 1em;
}

.card-with-dismiss .card-footer .card-button {
    width: 90%;
    display: inline;
    margin: 0 auto;
    margin-bottom: 1em;
}

.card-secondary-buttons-container {
    display: flex;
    gap: 0.2em;
}

.card-only-buttons .card-secondary-buttons-container {
    visibility: hidden;
}

.card-svg-icons {
    font-size: var(--card-icon-size) !important;
    color: var(--card-secondary-button-color);
}

.card-badge {
    background-color: var(--card-badge-bg-color);
    border: var(--card-badge-border);
    border-radius: var(--card-badge-border-radius);
    color: var(--card-badge-color);
    padding: 0.2em 0.5em;
    text-align: center;

    position: absolute;
    border: 1px solid black;
    top: 1em;
    left: 1em;
}
