<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Mohit Dhatrak" />
        <meta name="title" content="Input Component" />
        <meta
            name="description"
            content="The input component can as be customized as needed, using given css-variables. It has 2 variants - input textbox and input validation. So the validation input has 3 different colors for error, warn, success validations."
        />
        <meta name="keywords" content="HTML, CSS, Component library, UI" />
        <title>Spark UI | Input</title>
        <link
            rel="shortcut icon"
            href="/Images/spark-ui-favicon.png"
            type="image/png"
        />
        <link rel="stylesheet" href="/Components/Input/input.css" />
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
        <!-- header same as landing page -->
        <nav aria-label="Top navigation" class="landing-header">
            <a href="/index.html" class="landing-header-link">
                <img
                    src="/Images/spark-ui-logo.png"
                    alt="Website Logo"
                    class="landing-header-logo"
                />
                <span class="landing-header-title">Spark UI</span>
            </a>
            <a
                href="https://mohitdhatrak.bio.link/"
                target="_blank"
                class="landing-header-link"
            >
                <span>Socials</span>
                <i class="material-icons landing-svg-icon">public</i>
            </a>
        </nav>

        <main class="docs-body-container">
            <section class="side-nav-container">
                <aside aria-label="Mail menu" class="drawer drawer-scroll">
                    <h3 class="nested-drawer-title">Getting Started</h3>
                    <nav
                        aria-label="Side navigation"
                        class="drawer-links-container nested-drawer"
                    >
                        <a href="/docs.html" class="drawer-link">Usage</a>
                    </nav>
                    <br />
                    <h3 class="nested-drawer-title">Components</h3>
                    <nav
                        aria-label="Side navigation"
                        class="drawer-links-container nested-drawer"
                    >
                        <a
                            href="/Components/Avatar/avatar.html"
                            class="drawer-link"
                            >Avatar</a
                        >
                        <a
                            href="/Components/Alert/alert.html"
                            class="drawer-link"
                            >Alert</a
                        >
                        <a
                            href="/Components/Badge/badge.html"
                            class="drawer-link"
                            >Badge</a
                        >
                        <a
                            href="/Components/Button/button.html"
                            class="drawer-link"
                            >Button</a
                        >
                        <a href="/Components/Card/card.html" class="drawer-link"
                            >Card</a
                        >
                        <a
                            href="/Components/Image/image.html"
                            class="drawer-link"
                            >Image</a
                        >
                        <a
                            href="/Components/Input/input.html"
                            class="drawer-link"
                            >Input</a
                        >
                        <a
                            href="/Components/Modal/modal.html"
                            class="drawer-link"
                            >Modal</a
                        >
                        <a
                            href="/Components/Navigation/navigation.html"
                            class="drawer-link"
                            >Navigation</a
                        >
                        <a
                            href="/Components/Rating/rating.html"
                            class="drawer-link"
                            >Rating</a
                        >
                        <a
                            href="/Components/Toast/toast.html"
                            class="drawer-link"
                            >Toast</a
                        >
                    </nav>
                </aside>
            </section>

            <section>
                <article class="component-content-container">
                    <nav
                        aria-label="On-page navigation"
                        class="component-nav-container"
                    >
                        <a
                            href="/Components/Image/image.html"
                            class="component-nav-link"
                        >
                            <i class="material-icons component-nav-arrow">
                                arrow_left
                            </i>
                            <span>Image</span>
                        </a>
                        <a
                            href="/Components/Modal/modal.html"
                            class="component-nav-link"
                        >
                            <span>Modal</span>
                            <i class="material-icons component-nav-arrow">
                                arrow_right
                            </i>
                        </a>
                    </nav>

                    <h1 class="component-heading">Input</h1>

                    <h3 class="component-subheading">
                        Input component CSS - import url
                    </h3>
                    <iframe
                        src="https://www.thiscodeworks.com/embed/61fd958033c09d0015b44e11"
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>

                    <h3 class="component-subheading">
                        Input component CSS - HTML link tag
                    </h3>
                    <iframe
                        src="https://www.thiscodeworks.com/embed/61fd95b233c09d0015b44e13"
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>

                    <h2 class="component-subheading">
                        How to modify component as per need !
                    </h2>
                    <p class="component-text">
                        All input components have default border-styles,
                        border-radius. For changing the values, just use the
                        given css-variable below in
                        <span class="code-highlight">:root</span> selector of
                        your CSS file. For changing the width of input field,
                        css-variables of width are given for all. No need to use
                        these variables if you wish to use the images as it is.
                    </p>
                    <iframe
                        src="https://www.thiscodeworks.com/embed/61fda8b533c09d0015b44e18"
                        style="height: 28.5rem"
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>

                    <h2 class="component-subheading">1. Input textbox</h2>
                    <div class="website-input-container">
                        <label for="" class="input-label">Label</label>
                        <input
                            type="text"
                            name=""
                            id=""
                            placeholder="Enter text here..."
                            class="input"
                        />
                    </div>
                    <p class="component-text">
                        The above input textbox is completely customizable,
                        using the css-variables given at the top.
                    </p>
                    <iframe
                        src="https://www.thiscodeworks.com/embed/61fdadb133c09d0015b44e1d"
                        style="height: 7.65rem"
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>

                    <h2 class="component-subheading">2. Input Validation</h2>
                    <div class="website-input-container">
                        <label for="" class="input-label">Label</label>
                        <input
                            type="text"
                            name=""
                            id=""
                            placeholder="Enter text here..."
                            class="input input-error"
                        />
                    </div>
                    <div class="website-input-container">
                        <label for="" class="input-label">Label</label>
                        <input
                            type="text"
                            name=""
                            id=""
                            placeholder="Enter text here..."
                            class="input input-warn"
                        />
                    </div>
                    <div class="website-input-container">
                        <label for="" class="input-label">Label</label>
                        <input
                            type="text"
                            name=""
                            id=""
                            placeholder="Enter text here..."
                            class="input input-success"
                        />
                    </div>
                    <p class="component-text">
                        By default HTML code for red error textbox is given
                        below, hence class
                        <span class="code-highlight">input-error</span> in input
                        element. To use the yellow warning textbox, replace
                        class
                        <span class="code-highlight">input-error</span> with
                        class <span class="code-highlight">input-warn</span>. To
                        use the green success textbox, replace class with
                        <span class="code-highlight">input-success</span>. All
                        these input textboxes are completely customizable, using
                        the css-variables given at the top.
                    </p>
                    <iframe
                        src="https://www.thiscodeworks.com/embed/61fdae4933c09d0015b44e1e"
                        style="height: 7.65rem"
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>

                    <nav
                        aria-label="On-page navigation"
                        class="component-nav-container"
                    >
                        <a
                            href="/Components/Image/image.html"
                            class="component-nav-link"
                        >
                            <i class="material-icons component-nav-arrow">
                                arrow_left
                            </i>
                            <span>Image</span>
                        </a>
                        <a
                            href="/Components/Modal/modal.html"
                            class="component-nav-link"
                        >
                            <span>Modal</span>
                            <i class="material-icons component-nav-arrow">
                                arrow_right
                            </i>
                        </a>
                    </nav>
                </article>
            </section>
        </main>
    </body>
</html>
