<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Spark UI</title>
        <link rel="stylesheet" href="/Components/Navigation/navigation.css" />
        <link rel="stylesheet" href="/main.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
    </head>
    <body>
        <!-- classes - navigation-standard, navigation-short, navigation-fixed to be used same html  -->

        <!-- header same as landing page -->
        <nav aria-label="Top bar" class="landing-header">
            <a href="/index.html" class="landing-header-link">
                <img
                    src="/Images/spark-ui-logo.png"
                    alt="Website Logo"
                    class="landing-header-logo"
                />
                <span class="landing-header-title">Spark UI</span>
            </a>
            <a
                href="https://mohitdhatrak.bio.link/"
                target="_blank"
                class="landing-header-link"
            >
                <span>Let's Connect</span>
                <i class="material-icons landing-svg-icon">public</i>
            </a>
        </nav>

        <div class="docs-body-container">
            <div class="side-nav-container">
                <aside aria-label="Mail menu" class="drawer drawer-scroll">
                    <h3 class="nested-drawer-title">Getting Started</h3>
                    <div class="drawer-links-container nested-drawer">
                        <a href="/docs.html" class="drawer-link">Usage</a>
                    </div>
                    <br />
                    <h3 class="nested-drawer-title">Components</h3>
                    <div class="drawer-links-container nested-drawer">
                        <a
                            href="/Components/Avatar/avatar.html"
                            class="drawer-link"
                            >Avatar</a
                        >
                        <a
                            href="/Components/Alert/alert.html"
                            class="drawer-link"
                            >Alert</a
                        >
                        <a
                            href="/Components/Badge/badge.html"
                            class="drawer-link"
                            >Badge</a
                        >
                        <a
                            href="/Components/Button/button.html"
                            class="drawer-link"
                            >Button</a
                        >
                        <a href="/Components/Card/card.html" class="drawer-link"
                            >Card</a
                        >
                        <a
                            href="/Components/Image/image.html"
                            class="drawer-link"
                            >Image</a
                        >
                        <a
                            href="/Components/Input/input.html"
                            class="drawer-link"
                            >Input</a
                        >
                        <a
                            href="/Components/Modal/modal.html"
                            class="drawer-link"
                            >Modal</a
                        >
                        <a
                            href="/Components/Navigation/navigation.html"
                            class="drawer-link"
                            >Navigation</a
                        >
                        <a
                            href="/Components/Toast/toast.html"
                            class="drawer-link"
                            >Toast</a
                        >
                    </div>
                </aside>
            </div>

            <div>
                <div class="component-content-container">
                    <div class="component-nav-container">
                        <a
                            href="/Components/Modal/modal.html"
                            class="component-nav-link"
                        >
                            <i class="material-icons component-nav-arrow">
                                arrow_left
                            </i>
                            <span>Modal</span>
                        </a>
                        <a
                            href="/Components/Toast/toast.html"
                            class="component-nav-link"
                        >
                            <span>Toast</span
                            ><i class="material-icons component-nav-arrow">
                                arrow_right
                            </i>
                        </a>
                    </div>

                    <h1 class="component-heading">Navigation</h1>

                    <h3 class="component-subheading">
                        Navigation component CSS - import url
                    </h3>
                    <iframe
                        src="https://www.thiscodeworks.com/embed/61ffc3324dd44f0015f3cbe0"
                        style="
                            width: 54rem;
                            height: 6.875rem;
                            margin: 1em 0;
                            max-width: 100%;
                        "
                        frameborder="0"
                    ></iframe>

                    <h3 class="component-subheading">
                        Navigation component CSS - HTML link tag
                    </h3>
                    <iframe
                        src="https://www.thiscodeworks.com/embed/61ffc3644dd44f0015f3cbe1"
                        style="
                            width: 54rem;
                            height: 6.875rem;
                            margin: 1em 0;
                            max-width: 100%;
                        "
                        frameborder="0"
                    ></iframe>

                    <h2 class="component-subheading">
                        How to modify component as per need !
                    </h2>
                    <p class="component-text">
                        The available navigation components have a few default
                        properties like background-color, color, border. For
                        changing colours, borders, box-shadow, on hover-effects,
                        icon-sizes, just use the below given css-variables in
                        <span class="code-highlight">:root</span> selector of
                        your CSS file. No need to use these variables if you
                        wish to use the navigation as it is. For the given
                        download, print, etc. icons to be visible, you need to
                        link the given google-icons stylesheet in your HTML too.
                    </p>
                    <iframe
                        src="https://www.thiscodeworks.com/embed/61ffde3e4dd44f0015f3cc2f"
                        style="
                            width: 54rem;
                            height: 14.45rem;
                            margin: 1em 0;
                            max-width: 100%;
                        "
                        frameborder="0"
                    ></iframe>
                    <h3 class="component-subheading">
                        Google-icons CSS - HTML link tag
                    </h3>
                    <iframe
                        src="https://www.thiscodeworks.com/embed/61fbdefd6ab14d0015c32d68"
                        style="
                            width: 54rem;
                            height: 6.875rem;
                            margin: 1em 0;
                            max-width: 100%;
                        "
                        frameborder="0"
                    ></iframe>

                    <h2 class="component-subheading">
                        1. Standard and Short navigation
                    </h2>
                    <div class="website-nav-component-container">
                        <div class="navigation-text-container">
                            <nav
                                aria-label="Top bar"
                                class="navigation navigation-standard"
                            >
                                <button class="navigation-button">
                                    <i
                                        class="material-icons navigation-svg-icons"
                                        >menu</i
                                    >
                                </button>
                                <h3 class="navigation-title">Standard</h3>
                                <div class="navigation-right-buttons-container">
                                    <button class="navigation-button">
                                        <i
                                            class="material-icons navigation-svg-icons"
                                            >download</i
                                        >
                                        <span>Download</span>
                                    </button>
                                    <button class="navigation-button">
                                        <i
                                            class="material-icons navigation-svg-icons"
                                            >print</i
                                        >
                                        <span>Print</span>
                                    </button>
                                    <button class="navigation-button">
                                        <i
                                            class="material-icons navigation-svg-icons"
                                            >bookmark</i
                                        >
                                        <span>Save</span>
                                    </button>
                                </div>
                            </nav>
                            <p class="navigation-demo-text">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Sunt magnam nobis dolorum
                                quibusdam vel eaque iste facere aliquam quaerat,
                                numquam non dolorem officiis ullam quidem
                                delectus quis quo quae. Laboriosam!Lorem ipsum
                                dolor sit amet consectetur adipisicing elit.
                                Sunt magnam nobis dolorum quibusdam vel eaque
                                iste facere aliquam quaerat, numquam non dolorem
                                officiis ullam quidem delectus quis quo quae.
                                Laboriosam!Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Sunt magnam nobis
                                dolorum quibusdam vel eaque iste facere aliquam
                                quaerat, numquam non dolorem officiis ullam
                                quidem delectus quis quo quae. Laboriosam!Lorem
                                ipsum dolor sit amet consectetur adipisicing
                                elit. Sunt magnam nobis dolorum quibusdam vel
                                eaque iste facere aliquam quaerat, numquam non
                                dolorem officiis ullam quidem delectus quis quo
                                quae. Laboriosam!Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Sunt magnam nobis
                                dolorum quibusdam vel eaque iste facere aliquam
                                quaerat, numquam non dolorem officiis ullam
                                quidem delectus quis quo quae. Laboriosam! Lorem
                                ipsum dolor, sit amet consectetur adipisicing
                                elit. Non nesciunt repellendus mollitia ipsam,
                                eius esse nobis. Aliquid dolorum, accusantium
                                perspiciatis nobis, nesciunt enim ipsum cum,
                                architecto nisi ducimus labore quae? Lorem ipsum
                                dolor sit, amet consectetur adipisicing elit.
                                Molestias eligendi adipisci temporibus quos sunt
                                delectus tenetur aspernatur ea, aperiam omnis
                                labore dignissimos cum nisi eaque magni
                                voluptate aliquam reiciendis consectetur!
                            </p>
                        </div>
                    </div>

                    <div class="website-nav-component-container">
                        <div class="navigation-text-container">
                            <nav
                                aria-label="Top bar"
                                class="navigation navigation-short"
                            >
                                <button class="navigation-button">
                                    <i
                                        class="material-icons navigation-svg-icons"
                                        >menu</i
                                    >
                                </button>
                                <h3 class="navigation-title">Short</h3>
                                <div class="navigation-right-buttons-container">
                                    <button class="navigation-button">
                                        <i
                                            class="material-icons navigation-svg-icons"
                                            >download</i
                                        >
                                        <span>Download</span>
                                    </button>
                                    <button class="navigation-button">
                                        <i
                                            class="material-icons navigation-svg-icons"
                                            >print</i
                                        >
                                        <span>Print</span>
                                    </button>
                                    <button class="navigation-button">
                                        <i
                                            class="material-icons navigation-svg-icons"
                                            >bookmark</i
                                        >
                                        <span>Save</span>
                                    </button>
                                </div>
                            </nav>
                            <p class="navigation-demo-text">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Sunt magnam nobis dolorum
                                quibusdam vel eaque iste facere aliquam quaerat,
                                numquam non dolorem officiis ullam quidem
                                delectus quis quo quae. Laboriosam!Lorem ipsum
                                dolor sit amet consectetur adipisicing elit.
                                Sunt magnam nobis dolorum quibusdam vel eaque
                                iste facere aliquam quaerat, numquam non dolorem
                                officiis ullam quidem delectus quis quo quae.
                                Laboriosam!Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Sunt magnam nobis
                                dolorum quibusdam vel eaque iste facere aliquam
                                quaerat, numquam non dolorem officiis ullam
                                quidem delectus quis quo quae. Laboriosam!Lorem
                                ipsum dolor sit amet consectetur adipisicing
                                elit. Sunt magnam nobis dolorum quibusdam vel
                                eaque iste facere aliquam quaerat, numquam non
                                dolorem officiis ullam quidem delectus quis quo
                                quae. Laboriosam!Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Sunt magnam nobis
                                dolorum quibusdam vel eaque iste facere aliquam
                                quaerat, numquam non dolorem officiis ullam
                                quidem delectus quis quo quae. Laboriosam! Lorem
                                ipsum dolor, sit amet consectetur adipisicing
                                elit. Non nesciunt repellendus mollitia ipsam,
                                eius esse nobis. Aliquid dolorum, accusantium
                                perspiciatis nobis, nesciunt enim ipsum cum,
                                architecto nisi ducimus labore quae? Lorem ipsum
                                dolor sit, amet consectetur adipisicing elit.
                                Molestias eligendi adipisci temporibus quos sunt
                                delectus tenetur aspernatur ea, aperiam omnis
                                labore dignissimos cum nisi eaque magni
                                voluptate aliquam reiciendis consectetur!
                            </p>
                        </div>
                    </div>
                    <p class="component-text">
                        This navigation is not fixed at top, as you scroll it
                        moves out of the visible screen, you can try scrolling
                        above (text is given for demo, html provided below
                        contains only the navigation component). There are 2
                        options for navigation, standard and short. HTML code
                        for standard one is provided below. To use the short
                        navigation component, just replace class
                        <span class="code-highlight">navigation-standard</span>
                        with class
                        <span class="code-highlight">navigation-short</span>.
                    </p>
                    <iframe
                        src="https://www.thiscodeworks.com/embed/61ffdf324dd44f0015f3cc31"
                        style="
                            width: 54rem;
                            height: 22.95rem;
                            margin: 1em 0;
                            max-width: 100%;
                        "
                        frameborder="0"
                    ></iframe>

                    <h2 class="component-subheading">2. Fixed navigation</h2>
                    <div class="website-nav-component-container">
                        <div class="navigation-text-container">
                            <nav
                                aria-label="Top bar"
                                class="navigation navigation-fixed navigation-standard"
                            >
                                <button class="navigation-button">
                                    <i
                                        class="material-icons navigation-svg-icons"
                                        >menu</i
                                    >
                                </button>
                                <h3 class="navigation-title">Fixed standard</h3>
                                <div class="navigation-right-buttons-container">
                                    <button class="navigation-button">
                                        <i
                                            class="material-icons navigation-svg-icons"
                                            >download</i
                                        >
                                        <span>Download</span>
                                    </button>
                                    <button class="navigation-button">
                                        <i
                                            class="material-icons navigation-svg-icons"
                                            >print</i
                                        >
                                        <span>Print</span>
                                    </button>
                                    <button class="navigation-button">
                                        <i
                                            class="material-icons navigation-svg-icons"
                                            >bookmark</i
                                        >
                                        <span>Save</span>
                                    </button>
                                </div>
                            </nav>
                            <p class="navigation-demo-text">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Sunt magnam nobis dolorum
                                quibusdam vel eaque iste facere aliquam quaerat,
                                numquam non dolorem officiis ullam quidem
                                delectus quis quo quae. Laboriosam!Lorem ipsum
                                dolor sit amet consectetur adipisicing elit.
                                Sunt magnam nobis dolorum quibusdam vel eaque
                                iste facere aliquam quaerat, numquam non dolorem
                                officiis ullam quidem delectus quis quo quae.
                                Laboriosam!Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Sunt magnam nobis
                                dolorum quibusdam vel eaque iste facere aliquam
                                quaerat, numquam non dolorem officiis ullam
                                quidem delectus quis quo quae. Laboriosam!Lorem
                                ipsum dolor sit amet consectetur adipisicing
                                elit. Sunt magnam nobis dolorum quibusdam vel
                                eaque iste facere aliquam quaerat, numquam non
                                dolorem officiis ullam quidem delectus quis quo
                                quae. Laboriosam!Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Sunt magnam nobis
                                dolorum quibusdam vel eaque iste facere aliquam
                                quaerat, numquam non dolorem officiis ullam
                                quidem delectus quis quo quae. Laboriosam! Lorem
                                ipsum dolor, sit amet consectetur adipisicing
                                elit. Non nesciunt repellendus mollitia ipsam,
                                eius esse nobis. Aliquid dolorum, accusantium
                                perspiciatis nobis, nesciunt enim ipsum cum,
                                architecto nisi ducimus labore quae? Lorem ipsum
                                dolor sit, amet consectetur adipisicing elit.
                                Molestias eligendi adipisci temporibus quos sunt
                                delectus tenetur aspernatur ea, aperiam omnis
                                labore dignissimos cum nisi eaque magni
                                voluptate aliquam reiciendis consectetur!
                            </p>
                        </div>
                    </div>

                    <div class="website-nav-component-container">
                        <div class="navigation-text-container">
                            <nav
                                aria-label="Top bar"
                                class="navigation navigation-fixed navigation-short"
                            >
                                <button class="navigation-button">
                                    <i
                                        class="material-icons navigation-svg-icons"
                                        >menu</i
                                    >
                                </button>
                                <h3 class="navigation-title">Fixed short</h3>
                                <div class="navigation-right-buttons-container">
                                    <button class="navigation-button">
                                        <i
                                            class="material-icons navigation-svg-icons"
                                            >download</i
                                        >
                                        <span>Download</span>
                                    </button>
                                    <button class="navigation-button">
                                        <i
                                            class="material-icons navigation-svg-icons"
                                            >print</i
                                        >
                                        <span>Print</span>
                                    </button>
                                    <button class="navigation-button">
                                        <i
                                            class="material-icons navigation-svg-icons"
                                            >bookmark</i
                                        >
                                        <span>Save</span>
                                    </button>
                                </div>
                            </nav>
                            <p class="navigation-demo-text">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Sunt magnam nobis dolorum
                                quibusdam vel eaque iste facere aliquam quaerat,
                                numquam non dolorem officiis ullam quidem
                                delectus quis quo quae. Laboriosam!Lorem ipsum
                                dolor sit amet consectetur adipisicing elit.
                                Sunt magnam nobis dolorum quibusdam vel eaque
                                iste facere aliquam quaerat, numquam non dolorem
                                officiis ullam quidem delectus quis quo quae.
                                Laboriosam!Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Sunt magnam nobis
                                dolorum quibusdam vel eaque iste facere aliquam
                                quaerat, numquam non dolorem officiis ullam
                                quidem delectus quis quo quae. Laboriosam!Lorem
                                ipsum dolor sit amet consectetur adipisicing
                                elit. Sunt magnam nobis dolorum quibusdam vel
                                eaque iste facere aliquam quaerat, numquam non
                                dolorem officiis ullam quidem delectus quis quo
                                quae. Laboriosam!Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Sunt magnam nobis
                                dolorum quibusdam vel eaque iste facere aliquam
                                quaerat, numquam non dolorem officiis ullam
                                quidem delectus quis quo quae. Laboriosam! Lorem
                                ipsum dolor, sit amet consectetur adipisicing
                                elit. Non nesciunt repellendus mollitia ipsam,
                                eius esse nobis. Aliquid dolorum, accusantium
                                perspiciatis nobis, nesciunt enim ipsum cum,
                                architecto nisi ducimus labore quae? Lorem ipsum
                                dolor sit, amet consectetur adipisicing elit.
                                Molestias eligendi adipisci temporibus quos sunt
                                delectus tenetur aspernatur ea, aperiam omnis
                                labore dignissimos cum nisi eaque magni
                                voluptate aliquam reiciendis consectetur!
                            </p>
                        </div>
                    </div>
                    <p class="component-text">
                        This navigation is fixed at top, so even when you scroll
                        it stays fixed at the top, you can try scrolling above
                        (text is given for demo, html provided below contains
                        only the navigation component). There are 2 options for
                        navigation, standard fixed and short fixed. HTML code
                        for standard one is provided below. To use the short
                        fixed navigation component, just replace class
                        <span class="code-highlight">navigation-standard</span>
                        with class
                        <span class="code-highlight">navigation-short</span>
                    </p>
                    <iframe
                        src="https://www.thiscodeworks.com/embed/61ffe6b34dd44f0015f3cc4a"
                        style="
                            width: 54rem;
                            height: 22.95rem;
                            margin: 1em 0;
                            max-width: 100%;
                        "
                        frameborder="0"
                    ></iframe>

                    <div class="component-nav-container">
                        <a
                            href="/Components/Modal/modal.html"
                            class="component-nav-link"
                        >
                            <i class="material-icons component-nav-arrow">
                                arrow_left
                            </i>
                            <span>Modal</span>
                        </a>
                        <a
                            href="/Components/Toast/toast.html"
                            class="component-nav-link"
                        >
                            <span>Toast</span
                            ><i class="material-icons component-nav-arrow">
                                arrow_right
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
