<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Mohit Dhatrak" />
        <meta name="title" content="Rating Component" />
        <meta
            name="description"
            content="The rating component is basically a container of 5 star icons and can be customized as needed, using given css-variables. It has 2 options, outline-only stars, or filled stars."
        />
        <meta name="keywords" content="HTML, CSS, Component library, UI" />
        <title>Spark UI | Rating</title>
        <link
            rel="shortcut icon"
            href="/Images/spark-ui-favicon.png"
            type="image/png"
        />
        <link rel="stylesheet" href="/Components/Rating/rating.css" />
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
        <!-- header same as landing page -->
        <nav aria-label="Top bar" class="landing-header">
            <a href="/index.html" class="landing-header-link">
                <img
                    src="/Images/spark-ui-logo.png"
                    alt="Website Logo"
                    class="landing-header-logo"
                />
                <span class="landing-header-title">Spark UI</span>
            </a>
            <a
                href="https://mohitdhatrak.bio.link/"
                target="_blank"
                class="landing-header-link"
            >
                <span>Let's Connect</span>
                <i class="material-icons landing-svg-icon">public</i>
            </a>
        </nav>

        <main class="docs-body-container">
            <section class="side-nav-container">
                <aside aria-label="Mail menu" class="drawer drawer-scroll">
                    <h3 class="nested-drawer-title">Getting Started</h3>
                    <nav
                        aria-label="Side navigation"
                        class="drawer-links-container nested-drawer"
                    >
                        <a href="/docs.html" class="drawer-link">Usage</a>
                    </nav>
                    <br />
                    <h3 class="nested-drawer-title">Components</h3>
                    <nav
                        aria-label="Side navigation"
                        class="drawer-links-container nested-drawer"
                    >
                        <a
                            href="/Components/Avatar/avatar.html"
                            class="drawer-link"
                            >Avatar</a
                        >
                        <a
                            href="/Components/Alert/alert.html"
                            class="drawer-link"
                            >Alert</a
                        >
                        <a
                            href="/Components/Badge/badge.html"
                            class="drawer-link"
                            >Badge</a
                        >
                        <a
                            href="/Components/Button/button.html"
                            class="drawer-link"
                            >Button</a
                        >
                        <a href="/Components/Card/card.html" class="drawer-link"
                            >Card</a
                        >
                        <a
                            href="/Components/Image/image.html"
                            class="drawer-link"
                            >Image</a
                        >
                        <a
                            href="/Components/Input/input.html"
                            class="drawer-link"
                            >Input</a
                        >
                        <a
                            href="/Components/Modal/modal.html"
                            class="drawer-link"
                            >Modal</a
                        >
                        <a
                            href="/Components/Navigation/navigation.html"
                            class="drawer-link"
                            >Navigation</a
                        >
                        <a
                            href="/Components/Rating/rating.html"
                            class="drawer-link"
                            >Rating</a
                        >
                        <a
                            href="/Components/Toast/toast.html"
                            class="drawer-link"
                            >Toast</a
                        >
                    </nav>
                </aside>
            </section>

            <section>
                <article class="component-content-container">
                    <nav
                        aria-label="On-page navigation"
                        class="component-nav-container"
                    >
                        <a
                            href="/Components/Navigation/navigation.html"
                            class="component-nav-link"
                        >
                            <i class="material-icons component-nav-arrow">
                                arrow_left
                            </i>
                            <span>Navigation</span>
                        </a>
                        <a
                            href="/Components/Toast/toast.html"
                            class="component-nav-link"
                        >
                            <span>Toast</span
                            ><i class="material-icons component-nav-arrow">
                                arrow_right
                            </i>
                        </a>
                    </nav>

                    <h1 class="component-heading">Rating</h1>

                    <h3 class="component-subheading">
                        Rating component CSS - import url
                    </h3>
                    <iframe
                        src="https://www.thiscodeworks.com/embed/6200c1ea4dd44f0015f3cd58"
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>

                    <h3 class="component-subheading">
                        Rating component CSS - HTML link tag
                    </h3>
                    <iframe
                        src="https://www.thiscodeworks.com/embed/6200c2194dd44f0015f3cd59"
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>

                    <h2 class="component-subheading">
                        How to modify component as per need !
                    </h2>
                    <p class="component-text">
                        Both available rating star components - 'outline-only'
                        and 'filled' have default values for background-color,
                        icon-color, icon-size, hover-color, gap between stars.
                        For changing these as per your choice, just use the
                        given css-variable below in
                        <span class="code-highlight">:root</span> selector of
                        your CSS file (unique variables for both types so you
                        can use both together too). No need to use these
                        variables if you wish to use the component as it is.
                    </p>
                    <iframe
                        src="https://www.thiscodeworks.com/embed/6200ccbe4dd44f0015f3cd70"
                        style="height: 17.85rem"
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>

                    <h2 class="component-subheading">Star rating component</h2>
                    <div class="website-rating-container">
                        <div class="rating rating-outline">
                            <i class="material-icons rating-svg-icons"
                                >star_border</i
                            >
                            <i class="material-icons rating-svg-icons"
                                >star_border</i
                            >
                            <i class="material-icons rating-svg-icons"
                                >star_border</i
                            >
                            <i class="material-icons rating-svg-icons"
                                >star_border</i
                            >
                            <i class="material-icons rating-svg-icons"
                                >star_border</i
                            >
                        </div>
                    </div>
                    <div class="website-rating-container">
                        <div class="rating rating-filled">
                            <i class="material-icons rating-svg-icons">star</i>
                            <i class="material-icons rating-svg-icons">star</i>
                            <i class="material-icons rating-svg-icons">star</i>
                            <i class="material-icons rating-svg-icons">star</i>
                            <i class="material-icons rating-svg-icons">star</i>
                        </div>
                    </div>
                    <br />
                    <p class="component-text">
                        Both rating star types - 'outline-only' and 'filled'
                        have same HTML code. The given HTML code is for the
                        'outline-only' rating component, so the class used is
                        <span class="code-highlight">rating-outline</span>. To
                        use the 'filled' rating component, replace class
                        <span class="code-highlight">rating-outline</span> with
                        <span class="code-highlight">rating-filled</span>. You
                        can even increase or decrease space between the stars by
                        using css-variable for gap.
                    </p>
                    <iframe
                        src="https://www.thiscodeworks.com/embed/6200cc0f4dd44f0015f3cd6f"
                        style="height: 11.9rem"
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>

                    <nav
                        aria-label="On-page navigation"
                        class="component-nav-container"
                    >
                        <a
                            href="/Components/Navigation/navigation.html"
                            class="component-nav-link"
                        >
                            <i class="material-icons component-nav-arrow">
                                arrow_left
                            </i>
                            <span>Navigation</span>
                        </a>
                        <a
                            href="/Components/Toast/toast.html"
                            class="component-nav-link"
                        >
                            <span>Toast</span
                            ><i class="material-icons component-nav-arrow">
                                arrow_right
                            </i>
                        </a>
                    </nav>
                </article>
            </section>
        </main>
    </body>
</html>
