<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Mohit Dhatrak" />
        <meta name="title" content="Alert Component" />
        <meta
            name="description"
            content="The alert component can as be customized as needed, using given css-variables. It can be positioned at the bottom-right or bottom-left of the page. It has variants like simple info alert, success alert, error alert."
        />
        <meta name="keywords" content="HTML, CSS, Component library, UI" />
        <title>Spark UI | Alert</title>
        <link
            rel="shortcut icon"
            href="/Images/spark-ui-favicon.png"
            type="image/png"
        />
        <link rel="stylesheet" href="/Components/Alert/alert.css" />
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
        <!-- header same as landing page -->
        <nav aria-label="Top navigation" class="landing-header">
            <a href="/index.html" class="landing-header-link">
                <img
                    src="/Images/spark-ui-logo.png"
                    alt="Website Logo"
                    class="landing-header-logo"
                />
                <span class="landing-header-title">Spark UI</span>
            </a>
            <a
                href="https://mohitdhatrak.bio.link/"
                target="_blank"
                class="landing-header-link"
            >
                <span>Let's Connect</span>
                <i class="material-icons landing-svg-icon">public</i>
            </a>
        </nav>

        <main class="docs-body-container">
            <section class="side-nav-container">
                <aside aria-label="Mail menu" class="drawer drawer-scroll">
                    <h3 class="nested-drawer-title">Getting Started</h3>
                    <nav
                        aria-label="Side navigation"
                        class="drawer-links-container nested-drawer"
                    >
                        <a href="/docs.html" class="drawer-link">Usage</a>
                    </nav>
                    <br />
                    <h3 class="nested-drawer-title">Components</h3>
                    <nav
                        aria-label="Side navigation"
                        class="drawer-links-container nested-drawer"
                    >
                        <a
                            href="/Components/Avatar/avatar.html"
                            class="drawer-link"
                            >Avatar</a
                        >
                        <a
                            href="/Components/Alert/alert.html"
                            class="drawer-link"
                            >Alert</a
                        >
                        <a
                            href="/Components/Badge/badge.html"
                            class="drawer-link"
                            >Badge</a
                        >
                        <a
                            href="/Components/Button/button.html"
                            class="drawer-link"
                            >Button</a
                        >
                        <a href="/Components/Card/card.html" class="drawer-link"
                            >Card</a
                        >
                        <a
                            href="/Components/Image/image.html"
                            class="drawer-link"
                            >Image</a
                        >
                        <a
                            href="/Components/Input/input.html"
                            class="drawer-link"
                            >Input</a
                        >
                        <a
                            href="/Components/Modal/modal.html"
                            class="drawer-link"
                            >Modal</a
                        >
                        <a
                            href="/Components/Navigation/navigation.html"
                            class="drawer-link"
                            >Navigation</a
                        >
                        <a
                            href="/Components/Rating/rating.html"
                            class="drawer-link"
                            >Rating</a
                        >
                        <a
                            href="/Components/Toast/toast.html"
                            class="drawer-link"
                            >Toast</a
                        >
                    </nav>
                </aside>
            </section>

            <section>
                <article class="component-content-container">
                    <nav
                        aria-label="On-page navigation"
                        class="component-nav-container"
                    >
                        <a
                            href="/Components/Avatar/avatar.html"
                            class="component-nav-link"
                        >
                            <i class="material-icons component-nav-arrow">
                                arrow_left
                            </i>
                            <span>Avatar</span>
                        </a>
                        <a
                            href="/Components/Badge/badge.html"
                            class="component-nav-link"
                        >
                            <span>Badge</span
                            ><i class="material-icons component-nav-arrow">
                                arrow_right
                            </i>
                        </a>
                    </nav>

                    <h1 class="component-heading">Alert</h1>

                    <h3 class="component-subheading">
                        Alert component CSS - import url
                    </h3>
                    <iframe
                        src="https://www.thiscodeworks.com/embed/61fc003b6ab14d0015c32d8e"
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>

                    <h3 class="component-subheading">
                        Alert component CSS - HTML link tag
                    </h3>
                    <iframe
                        src="https://www.thiscodeworks.com/embed/61fc00966ab14d0015c32d8f"
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>

                    <h2 class="component-subheading">
                        How to modify component as per need !
                    </h2>
                    <p class="component-text">
                        All alerts have some default properties like
                        background-colour, colour, etc. If you want a alert of
                        your custom colour, use the below given css-variabes in
                        <span class="code-highlight">:root</span> selector of
                        your CSS file. No need to use these variables if you
                        wish to use the alert as it is.
                    </p>
                    <iframe
                        src="https://www.thiscodeworks.com/embed/61fc2a976ab14d0015c32dec"
                        style="height: 11.9rem"
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>

                    <h2 class="component-subheading">1. Simple info alert</h2>
                    <div class="website-alert-container">
                        <div class="website-alert">
                            <p class="alert-text">
                                Your response was recorded!
                            </p>
                            <div class="alert-buttons-container">
                                <button class="alert-button">
                                    <i class="material-icons alert-svg-icons"
                                        >close</i
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <p class="component-text">
                        By default the alert will be displayed at the
                        bottom-right of the page, as class
                        <span class="code-highlight">alert-right</span> is used
                        in the outermost
                        <span class="code-highlight">&lt;div&gt;</span>. To
                        change position of alert to bottom left, replace class
                        <span class="code-highlight">alert-right</span> with
                        <span class="code-highlight">alert-left</span>. This
                        component is also responsive, it adjusts width according
                        to screen-size.
                    </p>
                    <iframe
                        src="https://www.thiscodeworks.com/embed/61fc1e056ab14d0015c32dd8"
                        style="height: 14.45rem"
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>

                    <h2 class="component-subheading">2. Success/Error alert</h2>
                    <div class="website-alert-container">
                        <div class="website-alert website-alert-success">
                            <p class="alert-text">Login request successful!</p>
                            <div class="alert-buttons-container">
                                <button class="alert-button">
                                    <i class="material-icons alert-svg-icons"
                                        >close</i
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="website-alert-container">
                        <div class="website-alert website-alert-error">
                            <p class="alert-text">Login attempt failed!</p>
                            <div class="alert-buttons-container">
                                <button class="alert-button">
                                    <i class="material-icons alert-svg-icons"
                                        >close</i
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <p class="component-text">
                        Above simple alert component instructions for position
                        are valid here too, make sure you read those. By default
                        you will get the green coloured success alert in below
                        given HTML code. To use the red error alert, replace
                        class
                        <span class="code-highlight">alert-success</span> with
                        class <span class="code-highlight">alert-error</span>.
                    </p>
                    <iframe
                        src="https://www.thiscodeworks.com/embed/61fc1e996ab14d0015c32dda"
                        style="height: 14.45rem"
                        frameborder="0"
                        class="code-snippet"
                    ></iframe>

                    <nav
                        aria-label="On-page navigation"
                        class="component-nav-container"
                    >
                        <a
                            href="/Components/Avatar/avatar.html"
                            class="component-nav-link"
                        >
                            <i class="material-icons component-nav-arrow">
                                arrow_left
                            </i>
                            <span>Avatar</span>
                        </a>
                        <a
                            href="/Components/Badge/badge.html"
                            class="component-nav-link"
                        >
                            <span>Badge</span
                            ><i class="material-icons component-nav-arrow">
                                arrow_right
                            </i>
                        </a>
                    </nav>
                </article>
            </section>
        </main>
    </body>
</html>
